[submodule "ext/STM32CubeG4"]
	path = ext/STM32CubeG4
	url = git@github.com:STMicroelectronics/STM32CubeG4.git
[submodule "ext/mcuboot"]
	path = ext/mcuboot
	url = git@github.com:mcu-tools/mcuboot.git
